<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<div align="center">
    <h1>Users</h1>

    <table border="1">
        <tbody>
        <tr>
            <th>id</th>
            <th>Lastname</th>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>

        </tr>
        <th:block th:each="user : ${listUsers}">
            <tr>
                <td th:text="${user.id}"/>
                <td th:text="${user.lastname}"/>
                <td th:text="${user.name}"/>
                <td th:text="${user.email}"/>
                <td>
                    <a th:href="@{/edit/{userId}(userId = ${user.id})}">edit</a> <br>
                    <a th:href="@{/remove/{userId}(userId = ${user.id})}">remove</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <h2>Add User</h2>

    <form action="#" th:action="@{/add}" th:object="${user}" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" th:field="*{name}">
        <label for="lastname"> Lastname</label>
        <input type="text" name="lastname" id="lastname" th:field="*{lastname}">
        <label for="email"> Email</label>
        <input type="text" name="lastname" id="email" th:field="*{email}">
        <input type="submit" value="Add User">
    </form>
</div>

</body>
</html>